body {
  background-color: #222222;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: Tahoma, sans-serif;
  color: #222222;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #d3d3d3

  ;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 25%;
}

button:hover {
  background-color: #c6c6c6;
}
p {
  text-align: center;
  font-size: 15px;
  font-family: Tahoma, sans-serif;
  color: #c6c6c6;
}
